body{
    background-color: black;
}

.all{
    height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    
    
}

 h1{
    color: #00ffbf;
    
 }

button{
    padding: 16px;
    border-radius: 25px;
    background-color:  #00ffbf;
    color: #0040ff;
    border: none;
}
